<div id="viewer">
  <div id="image" background-image="{{place().url}}"></div>
  <div map id="map-section" location="{{place().location}}"></div>
  <div id="meta">
    <div id="loading" ng-show="isLoading">
      <img src="img/spin.gif">
      <span>Locating...</span>
    </div>
    <span id="name" ng-show="!isLoading">{{place().place.name}}</span>
    <span id="address" ng-show="!isLoading">{{place().place.address}}</span>
    <span id="description" ng-show="!isLoading">{{place().place.description}}</span>
  </div>

</div>
